#skills.content.container-fluid
  %h1.display-3.color-header Skills
  %h3.lead.text-muted At your service.
  .row.justify-content-around.mb-2
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
  .row.justify-content-around
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
