#work.content.container-fluid
  %h1.display-3.color-header Work
  %h3.lead.text-muted Tried, true, and tested.
  .row.justify-content-around.mt-4
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
  .row.justify-content-around.mt-4
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
    .col.text-center
      = image_tag "placeholder", { size: "250x250", class: 'img-fluid landing-item-image' }
